{% extends 'layouts/main.html' %} {% block title %}Configure{% endblock %} {% block content %}

<!--<div class="page-header">
    <h1>Assigning Variables</h1>
</div>-->

<!--<form method="post" enctype="multipart/form-data">
    <p><input type="file" name="file">
        <input type="submit" value="Upload">
    </p>
</form>-->

<div class="container">
    <form class="col s12" action="/configFile" method="POST" enctype="multipart/form-data">
        <div class="row">
            <h2>Assign Fieldnames</h2>
			{% for name in title %}
			  <label> {{ name }} :</label>
			   <select name="choice-{{ loop.index }}">
					<option disabled selected value> Select One</option>
					<option value="lat">Latitude</option>
					<option value="lng">Longitude</option>
					<option value="time">Temporal</option>
					<option value="single">Single Choice</option>
					<option value="multiple">Multiple Choice</option>
               </select><br>
			{% endfor %}
			<input type="hidden" name="filename" value= {{filename}}></input>
            <button class="btn" type="submit" value="Update">Submit</button>
        </div>
    </form>
</div>

{% endblock %}